<html>
   <body>
      <form action = "https://derrinngo22.github.io/HousePriceProject/HousePriceWeb/templates/results" method = "POST">
         <p>Overall Quality<input type = "text" name = "OQ" /></p>
         <p>Living area above ground<input type = "text" name = "GRL" /></p>
         <p>Garage Cars<input type = "text" name = "GC" /></p>
         <p>Total Basement Square Feet<input type = "text" name = "TBSF" /></p>
         <p>Full Bath<input type = "text" name = "FB" /></p>
         <p>Year Built<input type = "text" name = "YB" /></p>
         <input type="submit" value="Submit">
      </form>
   </body>
</html>